<!DOCTYPE html>
<html>
<head>
  <title>UnlockMoip</title>
  <%= stylesheet_link_tag    "unlock_moip/application", media: "all" %>
  <%= javascript_include_tag "unlock_moip/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
