body[data-action="edit"][data-controller="contributions"][data-namespace="unlockpaypal"]
  article
    width: 92%
    +media($tablet)
      width: 90%
    +media($desktop)
      width: 70%
    margin-left: auto
    margin-right: auto
    form
      .field
        float: left
        width: 100%
        margin-bottom: 0
    .value
      margin-bottom: 2em
      text-align: right
      span
        color: $link_color
        font-size: 2em
